* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
    padding: 20px;
  }
  
  h1 {
    font-size: 1.5rem;
    margin-block-start: 0;
    margin-block-end: 10px;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  .established {
    font-style: italic;
  }
  
  h1, h2, p {
    text-align: center;
  }
  
  .menu {
    width: 80%;
    background-color: burlywood;
    margin-inline: auto;
    padding: 30px;
    max-width: 500px;
  }

  img {
    display: block;
    margin-inline: auto;
  }

  hr {
    height: 4px;
    background-color: brown;
    border-color: brown;
  }
  
  .bottom-line {
    margin-block-start: 28px;
  }
  
  h1, h2 {
    font-family: Impact, serif;
  }
  
  .item p {
    display: inline-block;
    margin-block: 10px;
    font-size: 18px;
  }
  
  .flavor, .dessert {
    text-align: left;
    width: 75%;
  }
  
  .price {
    text-align: end;
    width: 25%;
  }
  
  /* FOOTER */
  
  footer {
    font-size: 1rem;
  }
  
  .address {
    margin-block-end: 10px;
  }
  
  a {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: brown;
  }
  
  a:active {
    color: brown;
  }
  